In [30]:
!pip install sqlalchemy
!pip install pandas

Requirement already satisfied: sqlalchemy in c:\users\jeant\anaconda3\lib\site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\jeant\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)
Requirement already satisfied: pandas in c:\users\jeant\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\jeant\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\jeant\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\jeant\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\jeant\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [56]:
import pandas as pd
from sqlalchemy import create_engine

In [37]:
diccionario = {'A':[2,4,5,6],'B':[4,3,5,6],'C':[7,3,4,6]}
df_dict = pd.DataFrame(diccionario)
print(df_dict)

   A  B  C
0  2  4  7
1  4  3  3
2  5  5  4
3  6  6  6

In [38]:
bdd = create_engine('sqlite:///:memory:')
df_dict.to_sql('tabla',bdd,index=False)

4

In [39]:
leer_datos = pd.read_sql('tabla',con=bdd)
print(leer_datos)

   A  B  C
0  2  4  7
1  4  3  3
2  5  5  4
3  6  6  6

In [42]:
bdd.execute("SELECT * FROM TABLA").fetchall()

[(2, 4, 7), (4, 3, 3), (5, 5, 4), (6, 6, 6)]

In [44]:
bdd.execute("SELECT * FROM TABLA WHERE A = 2").fetchall()

[(2, 4, 7)]

# Sqlite3

In [48]:
!pip install pysqlite3

Collecting pysqlite3
  Using cached pysqlite3-0.4.7.tar.gz (40 kB)
Building wheels for collected packages: pysqlite3
  Building wheel for pysqlite3 (setup.py): started
  Building wheel for pysqlite3 (setup.py): finished with status 'done'
  Running setup.py clean for pysqlite3
Failed to build pysqlite3
Installing collected packages: pysqlite3
    Running setup.py install for pysqlite3: started
    Running setup.py install for pysqlite3: finished with status 'done'
Successfully installed pysqlite3

  WARNING: Legacy build of wheel for 'pysqlite3' created no files.
  Command arguments: 'C:\Users\jeant\anaconda3\python.exe' -u -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\jeant\\AppData\\Local\\Temp\\pip-install-i8ixyh91\\pysqlite3_befbeec9328e4b2ab92eaf28a1c09d0c\\setup.py'"'"'; __file__='"'"'C:\\Users\\jeant\\AppData\\Local\\Temp\\pip-install-i8ixyh91\\pysqlite3_befbeec9328e4b2ab92eaf28a1c09d0c\\setup.py'"'"';f = getattr(tokenize, '"'"'open'"'"', open)(__file__) if os.path.exists(__file__) else io.StringIO('"'"'from setuptools import setup; setup()'"'"');code = f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' bdist_wheel -d 'C:\Users\jeant\AppData\Local\Temp\pip-wheel-335xq6c5'
  Command output: [use --verbose to show]

In [54]:
import sqlite3

In [60]:
con = sqlite3.connect("database.db")
consulta = pd.read_sql_query("SELECT * FROM compras", con)
consulta

    index  apples  oranges
0  Rosita       5        5
1    Hugo       6        7
2    Paco       8        4
3    Luis       3        9

In [59]:
definirIndex = consulta.set_index('index')
definirIndex

        apples  oranges
index
Rosita       5        5
Hugo         6        7
Paco         8        4
Luis         3        9

# Crear BDD

In [61]:
conexion = sqlite3.connect("repasando_bdd.db")

try:
    conexion.execute("""CREATE TABLE productos(
                    id_producto integer primary key autoincrement,
                    descripcion text,
                    cantidad integer,
                    precio real
                    )""")
    print("Se ha creado la tabla productos!!")
except sqlite.OperationError:
    print("Conflicto en crear la tabla producto")

try:
    conexion.execute("""CREATE TABLE catalogo(
                    codigo text primary key,
                    idProducto,
                    detalle text,
                    foreign key(idProducto) references productos(id_producto)
                    )""")
    print("Se ha creado la tabla catalogo!!")
except sqlite.OperationError:
    print("Conflicto en crear la tabla catalogo")

Se ha creado la tabla productos!!
Se ha creado la tabla catalogo!!

In [64]:
conexion = sqlite3.connect("repasando_bdd.db")
conexion.execute("INSERT INTO productos(descripcion,cantidad,precio) VALUES(?,?,?)",("chompas",5,68.55))
conexion.execute("INSERT INTO productos(descripcion,cantidad,precio) VALUES(?,?,?)",("pantalones",5,18.75))
conexion.commit() #Insert, update, delete
conexion.close()

In [65]:
conexion = sqlite3.connect("repasando_bdd.db")
consultar = conexion.execute("SELECT * FROM productos")

for registro in consultar:
    print(registro)
#conexion.close()

(1, 'chompas', 5, 68.55)
(2, 'pantalones', 5, 18.75)

In [68]:
idProducto = int(input("Ingrese el id del producto a consultar "))
consultarId = conexion.execute("SELECT * FROM productos WHERE id_producto = ?", (idProducto, ))
datos = consultarId.fetchone()

if datos != None:
    print(datos)
else:
    print("No existe el producto con el Id")

Ingrese el id del producto a consultar 2
(2, 'pantalones', 5, 18.75)

In [ ]:
conexion.execute("UPDATE productos SET descripcion = 'nuevo_dato' WHERE id_producto = 2")
conexion.execute("DELETE productos WHERE id_producto = 2")