In [1]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (1.2.3)
Requirement already satisfied: pytz>=2017.3 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages\pytz-2020.1-py3.7.egg (from pandas) (2020.1)
Requirement already satisfied: numpy>=1.16.5 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [79]:
import pandas as pd

s = pd.Series([1,1,1,1,3,3,3,5,4,4])
s.count()

10

In [6]:
s.sum()

26

In [7]:
s.cumsum()

0     1
1     2
2     3
3     4
4     7
5    10
6    13
7    18
8    22
9    26
dtype: int64

In [8]:
s.value_counts()

1    4
3    3
4    2
5    1
dtype: int64

In [9]:
s.value_counts(normalize = True)

1    0.4
3    0.3
4    0.2
5    0.1
dtype: float64

In [10]:
print("Min",s.min())
print("Max",s.max())
print("Media",s.mean())

Min 1
Max 5
Media 2.6

In [11]:
print(s.sort_values())
print(s.sort_index(ascending=False))

0    1
1    1
2    1
3    1
4    3
5    3
6    3
8    4
9    4
7    5
dtype: int64
9    4
8    4
7    5
6    3
5    3
4    3
3    1
2    1
1    1
0    1
dtype: int64

In [13]:
print("Desviacion estandar", s.std())

Desviacion estandar 1.5055453054181622

In [14]:
s.describe()

count    10.000000
mean      2.600000
std       1.505545
min       1.000000
25%       1.000000
50%       3.000000
75%       3.750000
max       5.000000
dtype: float64

In [16]:
s = pd.Series([1,2,3,4,5])
print(s+2)

0    3
1    4
2    5
3    6
4    7
dtype: int64

In [18]:
from math import *
s.apply(log)
print(s)

print("Factorial de",s[4], "es", factorial(s[4]))

0    1
1    2
2    3
3    4
4    5
dtype: int64
Factorial de  5 es 120

In [20]:
s2 = pd.Series(['a','b','c'])
s2*2

0    aa
1    bb
2    cc
dtype: object

In [24]:
import numpy as np
s=pd.Series(['a','b',None,'c',np.NaN,'d'])
s.dropna()

0    a
1    b
3    c
5    d
dtype: object

In [28]:
s = pd.Series(['Primero','Segundo','Tercero'],[0,2,3])
print(s[2])

Segundo

In [29]:
w = pd.Series(['Matematicas','Historia','Economia','Programacion','Ingles'],dtype='string')
print(s[1:3])

2    Segundo
3    Tercero
dtype: object

In [32]:
s=pd.Series({'BDD':8.0,'Programacion':8.5,'Estadistica':8.5})
print(s)

BDD             8.0
Programacion    8.5
Estadistica     8.5
dtype: float64

In [33]:
print("Ejemplo 1 -->",s['Programacion'])
print("Ejemplo 2 -->",s['Estadistica'])

Ejemplo 1 --> 8.5
Ejemplo 2 --> 8.5

In [34]:
s=pd.Series({'Matematicas':6.0,'Economia':4.5,'Programacion':8.5})
print(s[s>5])

Matematicas     6.0
Programacion    8.5
dtype: float64

In [35]:
etiquetas = ['a','b','c']
datos = [1,2,3]
pd.Series(data = datos, index = etiquetas)

a    1
b    2
c    3
dtype: int64

In [36]:
array = np.arange(5,8)
etiquetas2 = ['venta-1','venta-2','venta-3']
pd.Series(array,etiquetas2)

venta-1    5
venta-2    6
venta-3    7
dtype: int32

In [38]:
serie1= pd.Series([1,2,3,4],['venta-1','venta-2','venta-3','venta-4'])
serie2 = pd.Series([4,8,5],['venta-1','venta-2','venta-3'])
suma = serie1+serie2
print(suma)

venta-1     5.0
venta-2    10.0
venta-3     8.0
venta-4     NaN
dtype: float64

In [40]:
datos = {'nombre':['Maria','Luis','Carmen'],
        'edad':[18,22,30],
        'grado':['Economia','Medicina','Arquitectura'],
        'correo':['maria@gmail.com','luis@yahoo.es','carmen@gmail.com']
        }

df = pd.DataFrame(datos)
print(df)

   nombre  edad         grado            correo
0   Maria    18      Economia   maria@gmail.com
1    Luis    22      Medicina     luis@yahoo.es
2  Carmen    30  Arquitectura  carmen@gmail.com

In [41]:
df = pd.DataFrame([['Maria',18],
                  ['Maria',22],
                  ['Maria',20]], columns = ['Nombre','Edad'])
print(df)

  Nombre  Edad
0  Maria    18
1  Maria    22
2  Maria    20

In [73]:
df = pd.DataFrame([{'Nombre':'Maria','Edad':18},{'Nombre':'Luis','Edad':22},{'Nombre':'Carmen'}])
print(df)

   Nombre  Edad
0   Maria  18.0
1    Luis  22.0
2  Carmen   NaN

In [56]:
df = pd.DataFrame(np.random.randn(4,3),columns=['a','b','c'])
print(df)

          a         b         c
0 -2.412818 -0.836981  0.071509
1  1.160225 -2.711972  0.640858
2  0.282141  0.727053  1.708267
3  0.689929  0.340865 -0.035675

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nombre  3 non-null      object
 1   Edad    2 non-null      float64
dtypes: float64(1), object(1)
memory usage: 176.0+ bytes

In [61]:
df.shape

(3, 2)

In [62]:
df.size

6

In [63]:
df.columns

Index(['Nombre', 'Edad'], dtype='object')

In [64]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [65]:
df.dtypes

Nombre     object
Edad      float64
dtype: object

In [67]:
df.head(2)

  Nombre  Edad
0  Maria  18.0
1   Luis  22.0

In [68]:
df.tail(2)

   Nombre  Edad
1    Luis  22.0
2  Carmen   NaN

In [72]:
df.dropna()

  Nombre  Edad
0  Maria  18.0
1   Luis  22.0

In [74]:
df.fillna(value=19)

   Nombre  Edad
0   Maria  18.0
1    Luis  22.0
2  Carmen  19.0

In [76]:
df.nunique()

Nombre    3
Edad      2
dtype: int64

In [ ]:
inicio = int(input('Ingrese el año inicial: '))
fin = int(input('Ingrese el año final: '))

ventas = {}

for i in range(inicio,fin+1):
    ventas[i] = float(input('Ingrese las ventas del año: ' + str(i) + ': '))
ventas = pd.Series(ventas)
conDescuento = ventas*0.2

print("\nVentas sin descuento\n", ventas)
print("\nVentas con descuento\n", ventas-conDescuento)

In [ ]:
def estadistica_notas(notas):
    estadisticos = pd.Series([notas.min(),notas.max(),notas.mean(),notas.std()], index = ['Min','Max','Media','Dst'])
    return estadisticos

notas = {'Juan':9,'Maria':6.5,'Pedro':4,'Carmen':8.5,'Luis':5,'Isabel':7}
serieNotas = pd.Series(notas)
print(estadistica_notas(serieNotas).round(2))