In [ ]:
!pip install sqlalchemy

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import sqlite3

In [ ]:
diccionario = {'A':[2,4,5,6],'B':[4,3,5,6],'C':[7,3,4,6]}
df_dict = pd.DataFrame(diccionario)

In [ ]:
# Crea en memoria un motor de BDD para grabar el df en la tabla
bdd = create_engine('sqlite:///:memory:') # ocultar dato quitar echo
df_dict.to_sql('tabla',bdd, index = False)

In [ ]:
# Lee los datos almacenados temporalmente
datos_bdd = pd.read_sql('tabla', con=bdd)
datos_bdd

In [ ]:
# Consultas SQL
# bdd.execute("SELECT * FROM tabla").fetchall() # trae los registros
bdd.execute("SELECT * FROM tabla WHERE B = 6 and A = 2").fetchall()

# Sqlite3

In [ ]:
!pip install pysqlite3

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
import sqlite3
con = sqlite3.connect("database.db")

In [3]:
consulta = pd.read_sql_query("SELECT * FROM compras", con)
consulta

    index  apples  oranges
0  Rosita       5        5
1    Hugo       6        7
2    Paco       8        4
3    Luis       3        9

In [4]:
# definir el indice
consultaIndex = consulta.set_index('index')
consultaIndex

        apples  oranges
index
Rosita       5        5
Hugo         6        7
Paco         8        4
Luis         3        9

# Crear BDD

In [4]:
conexion = sqlite3.connect("repasando_bdd.db")

try:
    conexion.execute("""CREATE TABLE productos(
                    id_producto integer primary key autoincrement,
                    descripcion text,
                    cantidad integer,
                    precio real
                    )""")
    print("Se ha creado la tabla productos!!")
    
except sqlite3.OperationalError:
    print("Conflicto en crear la tabla productos")
    
    
try:
    conexion.execute("""CREATE TABLE catalogo(
                    codigo text primary key,
                    idProducto,
                    detalle text,
                    foreign key(idProducto) references productos(id_producto)
                    )""")
    print("Se ha creado la tabla catalogo!!")
    
except sqlite3.OperationalError:
    print("Conflicto en crear la tabla catalogo")
    
conexion.close()

Se ha creado la tabla productos!!
Se ha creado la tabla catalogo!!

In [6]:
conexion = sqlite3.connect("repasando_bdd.db")
conexion.execute("INSERT INTO productos(descripcion,cantidad,precio) VALUES(?,?,?)", ("chompas",5,68.55))
conexion.execute("INSERT INTO productos(descripcion,cantidad,precio) VALUES(?,?,?)", ("pantalones",15,18.75))
conexion.commit() # insert, update, delete
conexion.close()

In [7]:
conexion = sqlite3.connect("repasando_bdd.db")
consulta = conexion.execute("SELECT * FROM productos")

for registro in consulta:
    print(registro)
    
# conexion.close()

(1, 'chompas', 5, 68.55)
(2, 'pantalones', 15, 18.75)

In [8]:
idProducto = int(input("Ingrese el ID del producto a consultar: "))
consultarID = conexion.execute("SELECT descripcion, cantidad FROM productos WHERE id_producto = ?",(idProducto, ))
datos = consultarID.fetchone()
if datos != None:
    print(datos)
else:
    print("No existe productos con el ID")

Ingrese el ID del producto a consultar: 2
('pantalones', 15)

In [ ]:
"""
conexion.execute("UPDATE productos SET desripcion = 'nuevo_dato' WHERE id_producto = 2")
conexion.execute("DELETE FROM productos WHERE id_producto = 2")
"""

# Taller 3

In [5]:
# 1. Si no hay datos en la tabla, mostrar el mensaje “No hay datos que mostrar en la Tabla XXX”

conexion = sqlite3.connect("repasando_bdd.db")

try:
    conexion.execute("""CREATE TABLE proveedores(
                    id_proveedor integer primary key autoincrement,
                    direccion text,
                    celular text,
                    nombre text
                    )""")
    print("Se ha creado la tabla proveedores!!")
    
except sqlite3.OperationalError:
    
    print("Conflicto en crear la tabla proveedores")
    

consultarTabla = conexion.execute("SELECT * FROM proveedores" )

datosTabla = consultarTabla.fetchone()

if datosTabla != None:
    
    print(datosTabla)
    
else:
    print("No hay datos que mostrar en la Tabla proveedores")

Conflicto en crear la tabla proveedores
No hay datos que mostrar en la Tabla proveedores

In [6]:
# 2. Insertar 10 registros a la tabla

conexion.execute("INSERT INTO productos(descripcion,cantidad,precio) VALUES(?,?,?)",("medias",55,3.55) )
conexion.execute("INSERT INTO productos(descripcion,cantidad,precio) VALUES(?,?,?)",("ropa interior",43,5.67) )
conexion.execute("INSERT INTO productos(descripcion,cantidad,precio) VALUES(?,?,?)",("gorras",14,10.43) )
conexion.execute("INSERT INTO productos(descripcion,cantidad,precio) VALUES(?,?,?)",("camiseta",66,6.66) )
conexion.execute("INSERT INTO productos(descripcion,cantidad,precio) VALUES(?,?,?)",("jean",24,43.21) )
conexion.execute("INSERT INTO productos(descripcion,cantidad,precio) VALUES(?,?,?)",("chompa",4,50.23) )
conexion.execute("INSERT INTO productos(descripcion,cantidad,precio) VALUES(?,?,?)",("cadena",100,13.33) )
conexion.execute("INSERT INTO productos(descripcion,cantidad,precio) VALUES(?,?,?)",("zapatos",78,99.98) )
conexion.execute("INSERT INTO productos(descripcion,cantidad,precio) VALUES(?,?,?)",("botas",44,78.89) )
conexion.execute("INSERT INTO productos(descripcion,cantidad,precio) VALUES(?,?,?)",("pantaloneta",33,87.67) )


conexion.commit() # insert, update, delete

consulta = conexion.execute("SELECT * FROM productos")

for registro in consulta:
    print(registro)

(1, 'medias', 55, 3.55)
(2, 'ropa interior', 43, 5.67)
(3, 'gorras', 14, 10.43)
(4, 'camiseta', 66, 6.66)
(5, 'jean', 24, 43.21)
(6, 'chompa', 4, 50.23)
(7, 'cadena', 100, 13.33)
(8, 'zapatos', 78, 99.98)
(9, 'botas', 44, 78.89)
(10, 'pantaloneta', 33, 87.67)

In [7]:
# 3. Insertar 12 registros en la tabla catalogo


conexion.execute("INSERT INTO catalogo(codigo,idProducto, detalle) VALUES(?,?,?)",("PD405",1,"nuevo") )
conexion.execute("INSERT INTO catalogo(codigo,idProducto, detalle) VALUES(?,?,?)",("PD406",2,"nuevo") )
conexion.execute("INSERT INTO catalogo(codigo,idProducto, detalle) VALUES(?,?,?)",("PD407",3,"nuevo") )
conexion.execute("INSERT INTO catalogo(codigo,idProducto, detalle) VALUES(?,?,?)",("PD408",4,"nuevo") )
conexion.execute("INSERT INTO catalogo(codigo,idProducto, detalle) VALUES(?,?,?)",("PD409",5,"nuevo") )
conexion.execute("INSERT INTO catalogo(codigo,idProducto, detalle) VALUES(?,?,?)",("PD410",6,"nuevo") )
conexion.execute("INSERT INTO catalogo(codigo,idProducto, detalle) VALUES(?,?,?)",("PD411",7,"nuevo") )
conexion.execute("INSERT INTO catalogo(codigo,idProducto, detalle) VALUES(?,?,?)",("PD412",8,"nuevo") )
conexion.execute("INSERT INTO catalogo(codigo,idProducto, detalle) VALUES(?,?,?)",("PD413",9,"nuevo") )
conexion.execute("INSERT INTO catalogo(codigo,idProducto, detalle) VALUES(?,?,?)",("PD414",10,"nuevo") )
conexion.execute("INSERT INTO catalogo(codigo,idProducto, detalle) VALUES(?,?,?)",("PD415",11,"nuevo") )
conexion.execute("INSERT INTO catalogo(codigo,idProducto, detalle) VALUES(?,?,?)",("PD416",12,"nuevo") )


conexion.commit() # insert, update, delete

consulta = conexion.execute("SELECT * FROM catalogo")

for registro in consulta:
    print(registro)

('PD405', 1, 'nuevo')
('PD406', 2, 'nuevo')
('PD407', 3, 'nuevo')
('PD408', 4, 'nuevo')
('PD409', 5, 'nuevo')
('PD410', 6, 'nuevo')
('PD411', 7, 'nuevo')
('PD412', 8, 'nuevo')
('PD413', 9, 'nuevo')
('PD414', 10, 'nuevo')
('PD415', 11, 'nuevo')
('PD416', 12, 'nuevo')

In [8]:
# 4. Consultar los datos del producto cuyo precio sea mayor al ingresado por teclado

precio = float(input("Ingrese un precio: "))

consultarPrecios = conexion.execute("SELECT descripcion, precio FROM productos WHERE precio > ?",(precio,))

for dato in consultarPrecios:
    if dato != None:
        print(dato)
    else:
        print("No existen precios mayores al que ingreso")

Ingrese un precio: 42
('jean', 43.21)
('chompa', 50.23)
('zapatos', 99.98)
('botas', 78.89)
('pantaloneta', 87.67)

In [9]:
# 5. Actualizar un registro de la tabla productos

idProducto = int(input("Ingrese el ID del producto a consultar: "))

consultarID = conexion.execute("SELECT * FROM productos WHERE id_producto = ?",(idProducto, ))
datos = consultarID.fetchone()

if datos != None:
    
    print(datos)
    
    descripcion = input("Ingrese el nombre del producto: ")
    cantidad = int(input("Ingrese la cantidad del producto: "))
    precio = float(input("Ingrese el precio del producto: "))
    
    actualizar_Producto = conexion.execute("UPDATE productos SET descripcion = ?, cantidad = ?, precio = ?  WHERE id_producto = ?", (descripcion,cantidad,precio,idProducto ))
    conexion.commit() # insert, update, delete
    
else:
    print("No existe productos con el ID")
    
    
consulta = conexion.execute("SELECT * FROM productos WHERE id_producto = ?", (idProducto, ))


for registro in consulta:
    print(registro)

Ingrese el ID del producto a consultar: 2
(2, 'ropa interior', 43, 5.67)
Ingrese el nombre del producto: Shorts
Ingrese la cantidad del producto: 2
Ingrese el precio del producto: 20
(2, 'Shorts', 2, 20.0)

In [15]:
# 6. Eliminar un registro de la tabla catalogo

codigo= input("Ingrese el codigo del registro a eliminar: ")

conexion.execute("DELETE FROM catalogo WHERE codigo = ?",(codigo, ))
conexion.commit() #Insert, update, delete

consultar = conexion.execute("SELECT * FROM catalogo")

for registro in consultar:
    print(registro)

Ingrese el codigo del registro a eliminar: PD406
('PD407', 3, 'nuevo')
('PD408', 4, 'nuevo')
('PD409', 5, 'nuevo')
('PD410', 6, 'nuevo')
('PD411', 7, 'nuevo')
('PD412', 8, 'nuevo')
('PD413', 9, 'nuevo')
('PD414', 10, 'nuevo')
('PD415', 11, 'nuevo')
('PD416', 12, 'nuevo')

In [11]:
# 7. Mostrar a partir de la tabla productos todos los datos de ambas tablas de la BDD

conexion = sqlite3.connect("repasando_bdd.db")
consultarnueva = conexion.execute("SELECT * FROM productos,catalogo WHERE id_producto = idProducto")

for registro in consultarnueva:
    print(registro)

(2, 'Shorts', 2, 20.0, 'PD406', 2, 'nuevo')
(3, 'gorras', 14, 10.43, 'PD407', 3, 'nuevo')
(4, 'camiseta', 66, 6.66, 'PD408', 4, 'nuevo')
(5, 'jean', 24, 43.21, 'PD409', 5, 'nuevo')
(6, 'chompa', 4, 50.23, 'PD410', 6, 'nuevo')
(7, 'cadena', 100, 13.33, 'PD411', 7, 'nuevo')
(8, 'zapatos', 78, 99.98, 'PD412', 8, 'nuevo')
(9, 'botas', 44, 78.89, 'PD413', 9, 'nuevo')
(10, 'pantaloneta', 33, 87.67, 'PD414', 10, 'nuevo')

In [12]:
# 8.Mostrar a partir de la tabla productos los campos “ precio y detalle” donde id_producto sea igual al valor ingresado por teclado


idProducto = int(input("Ingrese el id del producto a consultar "))


consultarId = conexion.execute("SELECT descripcion, precio, detalle FROM productos,catalogo WHERE id_producto = idProducto AND id_producto = ?", (idProducto, ))
datos = consultarId.fetchone()


if datos != None:
    print(datos)
else:
    print("No existe el producto con el Id")

Ingrese el id del producto a consultar 2
('Shorts', 20.0, 'nuevo')

In [13]:
# 9.Mostrar los 5 últimos registros de la tabla producto


consultarultimos = conexion.execute("SELECT * FROM productos ORDER BY id_producto DESC limit 5")

for registro in consultarultimos:
    print(registro)

(10, 'pantaloneta', 33, 87.67)
(9, 'botas', 44, 78.89)
(8, 'zapatos', 78, 99.98)
(7, 'cadena', 100, 13.33)
(6, 'chompa', 4, 50.23)

In [14]:
# 10.Mostrar los 7 primeros registros de la tabla catalogo

consultarprimeros = conexion.execute("SELECT * FROM catalogo limit 7")

for registro in consultarprimeros:
    print(registro)

('PD406', 2, 'nuevo')
('PD407', 3, 'nuevo')
('PD408', 4, 'nuevo')
('PD409', 5, 'nuevo')
('PD410', 6, 'nuevo')
('PD411', 7, 'nuevo')
('PD412', 8, 'nuevo')

In [ ]:
conexion.close()