# Prueba 2

In [1]:
!pip install numpy
!pip install pandas
!pip install sqlalchemy
!pip install pysqlite3
!pip install requests
!pip install bs4
!pip install lxml
!pip install unicode

Requirement already satisfied: numpy in c:\users\jeant\anaconda3\lib\site-packages (1.21.5)
Requirement already satisfied: pandas in c:\users\jeant\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\jeant\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\jeant\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in c:\users\jeant\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\jeant\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: sqlalchemy in c:\users\jeant\anaconda3\lib\site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\jeant\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)
Collecting pysqlite3
  Using cached pysqlite3-0.4.7.tar.gz (40 kB)
Building wheels for collected packages: pysqlite3
  Building wheel for pysqlite3 (setup.py): started
  Building wheel for pysqlite3 (setup.py): finished with status 'done'
  Running setup.py clean for pysqlite3
Failed to build pysqlite3
Installing collected packages: pysqlite3
    Running setup.py install for pysqlite3: started
    Running setup.py install for pysqlite3: finished with status 'done'
Successfully installed pysqlite3

  WARNING: Legacy build of wheel for 'pysqlite3' created no files.
  Command arguments: 'C:\Users\jeant\anaconda3\python.exe' -u -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\jeant\\AppData\\Local\\Temp\\pip-install-mkedqk3b\\pysqlite3_04288820acc444acabcd26b264cb3ec2\\setup.py'"'"'; __file__='"'"'C:\\Users\\jeant\\AppData\\Local\\Temp\\pip-install-mkedqk3b\\pysqlite3_04288820acc444acabcd26b264cb3ec2\\setup.py'"'"';f = getattr(tokenize, '"'"'open'"'"', open)(__file__) if os.path.exists(__file__) else io.StringIO('"'"'from setuptools import setup; setup()'"'"');code = f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' bdist_wheel -d 'C:\Users\jeant\AppData\Local\Temp\pip-wheel-2gshlu6m'
  Command output: [use --verbose to show]

Requirement already satisfied: requests in c:\users\jeant\anaconda3\lib\site-packages (2.27.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jeant\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\jeant\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\jeant\anaconda3\lib\site-packages (from requests) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in c:\users\jeant\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: bs4 in c:\users\jeant\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\jeant\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\jeant\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Requirement already satisfied: lxml in c:\users\jeant\anaconda3\lib\site-packages (4.8.0)
Requirement already satisfied: unicode in c:\users\jeant\anaconda3\lib\site-packages (2.9)

In [2]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
import sqlite3
import requests
from bs4 import BeautifulSoup
import csv
from math import *

In [3]:
#Web Scraping

consulta = requests.get('https://news.ycombinator.com/front')
soup = BeautifulSoup(consulta.text,'html.parser')
buscar = soup.findAll('td',class_='subtext')
buscar

[<td class="subtext">
 <span class="score" id="score_32862803">457 points</span> by <a class="hnuser" href="user?id=simonebrunozzi">simonebrunozzi</a> <span class="age" title="2022-09-16T06:29:03"><a href="item?id=32862803">1 day ago</a></span> <span id="unv_32862803"></span> | <a href="hide?id=32862803&amp;goto=front">hide</a> | <a href="item?id=32862803">309 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32867737">126 points</span> by <a class="hnuser" href="user?id=mcilroy">mcilroy</a> <span class="age" title="2022-09-16T15:46:30"><a href="item?id=32867737">1 day ago</a></span> <span id="unv_32867737"></span> | <a href="hide?id=32867737&amp;goto=front">hide</a> | <a href="item?id=32867737">46 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32867644">170 points</span> by <a class="hnuser" href="user?id=politician">politician</a> <span class="age" title="2022-09-16T15:41:41"><a href="item?id=32867644">1 day ago</a></span> <span id="unv_32867644"></span> | <a href="hide?id=32867644&amp;goto=front">hide</a> | <a href="item?id=32867644">112 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32871392">138 points</span> by <a class="hnuser" href="user?id=jamesgpearce">jamesgpearce</a> <span class="age" title="2022-09-16T20:08:39"><a href="item?id=32871392">22 hours ago</a></span> <span id="unv_32871392"></span> | <a href="hide?id=32871392&amp;goto=front">hide</a> | <a href="item?id=32871392">61 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32866892">107 points</span> by <a class="hnuser" href="user?id=Brajeshwar">Brajeshwar</a> <span class="age" title="2022-09-16T14:56:13"><a href="item?id=32866892">1 day ago</a></span> <span id="unv_32866892"></span> | <a href="hide?id=32866892&amp;goto=front">hide</a> | <a href="item?id=32866892">41 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32859256">610 points</span> by <a class="hnuser" href="user?id=sudenmorsian">sudenmorsian</a> <span class="age" title="2022-09-15T22:29:27"><a href="item?id=32859256">1 day ago</a></span> <span id="unv_32859256"></span> | <a href="hide?id=32859256&amp;goto=front">hide</a> | <a href="item?id=32859256">261 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32867584">484 points</span> by <a class="hnuser" href="user?id=geekinchief">geekinchief</a> <span class="age" title="2022-09-16T15:38:11"><a href="item?id=32867584">1 day ago</a></span> <span id="unv_32867584"></span> | <a href="hide?id=32867584&amp;goto=front">hide</a> | <a href="item?id=32867584">527 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32867613">101 points</span> by <a class="hnuser" href="user?id=mrjn">mrjn</a> <span class="age" title="2022-09-16T15:39:57"><a href="item?id=32867613">1 day ago</a></span> <span id="unv_32867613"></span> | <a href="hide?id=32867613&amp;goto=front">hide</a> | <a href="item?id=32867613">37 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32870463">127 points</span> by <a class="hnuser" href="user?id=jstanley">jstanley</a> <span class="age" title="2022-09-16T18:51:50"><a href="item?id=32870463">23 hours ago</a></span> <span id="unv_32870463"></span> | <a href="hide?id=32870463&amp;goto=front">hide</a> | <a href="item?id=32870463">57 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32865497">377 points</span> by <a class="hnuser" href="user?id=EntICOnc">EntICOnc</a> <span class="age" title="2022-09-16T12:58:57"><a href="item?id=32865497">1 day ago</a></span> <span id="unv_32865497"></span> | <a href="hide?id=32865497&amp;goto=front">hide</a> | <a href="item?id=32865497">138 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32865229">233 points</span> by <a class="hnuser" href="user?id=AlexeyBrin">AlexeyBrin</a> <span class="age" title="2022-09-16T12:30:30"><a href="item?id=32865229">1 day ago</a></span> <span id="unv_32865229"></span> | <a href="hide?id=32865229&amp;goto=front">hide</a> | <a href="item?id=32865229">111 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32868092">106 points</span> by <a class="hnuser" href="user?id=rntn">rntn</a> <span class="age" title="2022-09-16T16:04:43"><a href="item?id=32868092">1 day ago</a></span> <span id="unv_32868092"></span> | <a href="hide?id=32868092&amp;goto=front">hide</a> | <a href="item?id=32868092">41 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32860728">574 points</span> by <a class="hnuser" href="user?id=arkadiyt">arkadiyt</a> <span class="age" title="2022-09-16T01:10:19"><a href="item?id=32860728">1 day ago</a></span> <span id="unv_32860728"></span> | <a href="hide?id=32860728&amp;goto=front">hide</a> | <a href="item?id=32860728">304 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32864413">164 points</span> by <a class="hnuser" href="user?id=marcodiego">marcodiego</a> <span class="age" title="2022-09-16T10:42:55"><a href="item?id=32864413">1 day ago</a></span> <span id="unv_32864413"></span> | <a href="hide?id=32864413&amp;goto=front">hide</a> | <a href="item?id=32864413">36 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32862333">152 points</span> by <a class="hnuser" href="user?id=indigodaddy">indigodaddy</a> <span class="age" title="2022-09-16T05:07:27"><a href="item?id=32862333">1 day ago</a></span> <span id="unv_32862333"></span> | <a href="hide?id=32862333&amp;goto=front">hide</a> | <a href="item?id=32862333">81 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32864997">776 points</span> by <a class="hnuser" href="user?id=jaarse">jaarse</a> <span class="age" title="2022-09-16T12:07:05"><a href="item?id=32864997">1 day ago</a></span> <span id="unv_32864997"></span> | <a href="hide?id=32864997&amp;goto=front">hide</a> | <a href="item?id=32864997">522 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32870677">717 points</span> by <a class="hnuser" href="user?id=ribosometronome">ribosometronome</a> <span class="age" title="2022-09-16T19:11:39"><a href="item?id=32870677">23 hours ago</a></span> <span id="unv_32870677"></span> | <a href="hide?id=32870677&amp;goto=front">hide</a> | <a href="item?id=32870677">449 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32834812">154 points</span> by <a class="hnuser" href="user?id=archielc">archielc</a> <span class="age" title="2022-09-14T09:10:08"><a href="item?id=32834812">3 days ago</a></span> <span id="unv_32834812"></span> | <a href="hide?id=32834812&amp;goto=front">hide</a> | <a href="item?id=32834812">140 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32861024">150 points</span> by <a class="hnuser" href="user?id=kens">kens</a> <span class="age" title="2022-09-16T01:46:27"><a href="item?id=32861024">1 day ago</a></span> <span id="unv_32861024"></span> | <a href="hide?id=32861024&amp;goto=front">hide</a> | <a href="item?id=32861024">48 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32859188">111 points</span> by <a class="hnuser" href="user?id=panabee">panabee</a> <span class="age" title="2022-09-15T22:20:52"><a href="item?id=32859188">1 day ago</a></span> <span id="unv_32859188"></span> | <a href="hide?id=32859188&amp;goto=front">hide</a> | <a href="item?id=32859188">52 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32855476">203 points</span> by <a class="hnuser" href="user?id=phant0mas">phant0mas</a> <span class="age" title="2022-09-15T17:28:55"><a href="item?id=32855476">2 days ago</a></span> <span id="unv_32855476"></span> | <a href="hide?id=32855476&amp;goto=front">hide</a> | <a href="item?id=32855476">88 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32868377">82 points</span> by <a class="hnuser" href="user?id=dduugg">dduugg</a> <span class="age" title="2022-09-16T16:21:46"><a href="item?id=32868377">1 day ago</a></span> <span id="unv_32868377"></span> | <a href="hide?id=32868377&amp;goto=front">hide</a> | <a href="item?id=32868377">66 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32871077">80 points</span> by <a class="hnuser" href="user?id=sbolt">sbolt</a> <span class="age" title="2022-09-16T19:45:19"><a href="item?id=32871077">23 hours ago</a></span> <span id="unv_32871077"></span> | <a href="hide?id=32871077&amp;goto=front">hide</a> | <a href="item?id=32871077">18 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32860778">164 points</span> by <a class="hnuser" href="user?id=gone35">gone35</a> <span class="age" title="2022-09-16T01:17:10"><a href="item?id=32860778">1 day ago</a></span> <span id="unv_32860778"></span> | <a href="hide?id=32860778&amp;goto=front">hide</a> | <a href="item?id=32860778">30 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32858903">87 points</span> by <a class="hnuser" href="user?id=smartblondeva">smartblondeva</a> <span class="age" title="2022-09-15T21:48:40"><a href="item?id=32858903">1 day ago</a></span> <span id="unv_32858903"></span> | <a href="hide?id=32858903&amp;goto=front">hide</a> | <a href="item?id=32858903">72 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32866319">106 points</span> by <a class="hnuser" href="user?id=DandyDev">DandyDev</a> <span class="age" title="2022-09-16T14:17:03"><a href="item?id=32866319">1 day ago</a></span> <span id="unv_32866319"></span> | <a href="hide?id=32866319&amp;goto=front">hide</a> | <a href="item?id=32866319">40 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32867299">69 points</span> by <a class="hnuser" href="user?id=mmastrac">mmastrac</a> <span class="age" title="2022-09-16T15:21:17"><a href="item?id=32867299">1 day ago</a></span> <span id="unv_32867299"></span> | <a href="hide?id=32867299&amp;goto=front">hide</a> | <a href="item?id=32867299">25 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32865428">323 points</span> by <a class="hnuser" href="user?id=rohith2506">rohith2506</a> <span class="age" title="2022-09-16T12:51:38"><a href="item?id=32865428">1 day ago</a></span> <span id="unv_32865428"></span> | <a href="hide?id=32865428&amp;goto=front">hide</a> | <a href="item?id=32865428">571 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32839754">68 points</span> by <a class="hnuser" href="user?id=wglb">wglb</a> <span class="age" title="2022-09-14T16:46:05"><a href="item?id=32839754">3 days ago</a></span> <span id="unv_32839754"></span> | <a href="hide?id=32839754&amp;goto=front">hide</a> | <a href="item?id=32839754">25 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32866093">209 points</span> by <a class="hnuser" href="user?id=jbredeche">jbredeche</a> <span class="age" title="2022-09-16T13:56:52"><a href="item?id=32866093">1 day ago</a></span> <span id="unv_32866093"></span> | <a href="hide?id=32866093&amp;goto=front">hide</a> | <a href="item?id=32866093">260 comments</a> </td>]

In [4]:
lista = list()

for datos in buscar:
    data = {
        'score': int(datos.find('span', class_='score').text.split()[0]),
        'horas': int(datos.find('span', class_='age').a.text.split()[0]),
        'comentarios': datos.find_all('a')[3].text,
    }
    lista.append(data)

In [5]:
df = pd.DataFrame(lista).head(11)
df

    score  horas   comentarios
0     457      1  309 comments
1     126      1   46 comments
2     170      1  112 comments
3     138     22   61 comments
4     107      1   41 comments
5     610      1  261 comments
6     484      1  527 comments
7     101      1   37 comments
8     127     23   57 comments
9     377      1  138 comments
10    233      1  111 comments

# Ejercicio 2

In [6]:
df.dropna()

    score  horas   comentarios
0     457      1  309 comments
1     126      1   46 comments
2     170      1  112 comments
3     138     22   61 comments
4     107      1   41 comments
5     610      1  261 comments
6     484      1  527 comments
7     101      1   37 comments
8     127     23   57 comments
9     377      1  138 comments
10    233      1  111 comments

In [7]:
lista = ['Los 4 chiflados','Los superfantasticos','Mujer maravilla','Comunidad de los anillos','Magnificencia','','Mundo de fantasia','Hombre Araña','El perfume','Cambios inaceptables','Confusion']

df['Titulo'] = pd.Series(lista)
df

    score  horas   comentarios                    Titulo
0     457      1  309 comments           Los 4 chiflados
1     126      1   46 comments      Los superfantasticos
2     170      1  112 comments           Mujer maravilla
3     138     22   61 comments  Comunidad de los anillos
4     107      1   41 comments             Magnificencia
5     610      1  261 comments
6     484      1  527 comments         Mundo de fantasia
7     101      1   37 comments              Hombre Araña
8     127     23   57 comments                El perfume
9     377      1  138 comments      Cambios inaceptables
10    233      1  111 comments                 Confusion

In [7]:
for row in df.itertuples():
    print(row)

Pandas(Index=0, score=457, horas=1, comentarios='309\xa0comments', Titulo='Los 4 chiflados')
Pandas(Index=1, score=126, horas=1, comentarios='46\xa0comments', Titulo='Los superfantasticos')
Pandas(Index=2, score=170, horas=1, comentarios='112\xa0comments', Titulo='Mujer maravilla')
Pandas(Index=3, score=138, horas=22, comentarios='61\xa0comments', Titulo='Comunidad de los anillos')
Pandas(Index=4, score=107, horas=1, comentarios='41\xa0comments', Titulo='Magnificencia')
Pandas(Index=5, score=610, horas=1, comentarios='261\xa0comments', Titulo='')
Pandas(Index=6, score=484, horas=1, comentarios='527\xa0comments', Titulo='Mundo de fantasia')
Pandas(Index=7, score=101, horas=1, comentarios='37\xa0comments', Titulo='Hombre Araña')
Pandas(Index=8, score=127, horas=23, comentarios='57\xa0comments', Titulo='El perfume')
Pandas(Index=9, score=377, horas=1, comentarios='138\xa0comments', Titulo='Cambios inaceptables')
Pandas(Index=10, score=233, horas=1, comentarios='111\xa0comments', Titulo='Confusion')

# Ejercicio 3

In [26]:
#Crear tabla

conexion = sqlite3.connect("repasando_bdd.db")
df.to_sql(name="prueba", con=conexion, index = False)
df

(0, 220, 1, '23 comments', 'Los 4 chiflados')
(1, 223, 3, '23 comments', 'Los superfantasticos')
(2, 170, 1, '112\xa0comments', 'Mujer maravilla')
(3, 138, 22, '61\xa0comments', 'Comunidad de los anillos')
(4, 107, 1, '41\xa0comments', 'Magnificencia')
(5, 610, 1, '261\xa0comments', '')
(6, 484, 1, '527\xa0comments', 'Mundo de fantasia')
(7, 101, 1, '37\xa0comments', 'Hombre Araña')
(8, 127, 23, '57\xa0comments', 'El perfume')
(9, 377, 1, '138\xa0comments', 'Cambios inaceptables')
(10, 233, 1, '111\xa0comments', 'Confusion')
(None, 220, 5, '60 comments', 'Cien años de SOledad')
(None, 110, 3, '49 comments', 'MIserables')

In [ ]:
# Consultar los datos de la tabla.

conexion = sqlite3.connect("repasando_bdd.db")
consultar = conexion.execute("SELECT * FROM prueba")

for registro in consultar:
    print(registro)

In [10]:
# Ingresar datos a la tabla.

conexion = sqlite3.connect("repasando_bdd.db")
conexion.execute("INSERT INTO prueba(score,horas,comentarios,Titulo) VALUES(?,?,?,?)",(220,5,"60 comments","Cien años de SOledad"))
conexion.execute("INSERT INTO prueba(score,horas,comentarios,Titulo) VALUES(?,?,?,?)",(110,3,"49 comments","MIserables"))
conexion.commit() #Insert, update, delete

In [23]:
# Actualizar un registro de la tabla.

conexion = sqlite3.connect("repasando_bdd.db")
titulo = input("Ingrese el Titulo a consultar: ")

consultarID = conexion.execute("SELECT * FROM prueba WHERE Titulo = ?",(titulo, ))
datos = consultarID.fetchone()

if datos != None:
    puntuacion = int(input("Ingrese la score: "))
    horas = int(input("Ingrese las horas: "))
    comentario = input("Ingrese la cantidad comentarios: ")
    actualizar = conexion.execute("UPDATE prueba SET score = ?, horas = ?, comentarios = ? WHERE Titulo = ?", (puntuacion,horas,comentario,titulo, ))
    conexion.commit() # insert, update, delete
else:
    print("No existe obra con el nombre")

consulta = conexion.execute("SELECT * FROM prueba WHERE Titulo = ?",(titulo, ))

for registro in consulta:
    print(registro)

Ingrese el Nombre de la obra a consultar: Los superfantasticos
Ingrese la score: 223
Ingrese las horas: 3
Ingrese el numero de comentarios: 23 comments
(1, 223, 3, '23 comments', 'Los superfantasticos')

In [27]:
# Eliminar un registro de la tabla.

titulo = input("Ingrese el Titulo a eliminar: ")
conexion = sqlite3.connect("repasando_bdd.db")
conexion.execute("DELETE FROM prueba WHERE Titulo = ? ", (titulo, ))
conexion.commit() #Insert, update, delete

Ingrese el Titulo a eliminar: MIserables

In [33]:
# Consultar un dato de la tabla.

titulo = input("Ingrese el Titulo a consultar: ")

consultar = conexion.execute("SELECT * FROM prueba WHERE Titulo = ?",(titulo,))

for registro in consultar:
    print(registro)

Ingrese el Titulo a consultar: MIserables

In [ ]:
conexion.close()