# Prueba

In [ ]:
!pip install numpy
!pip install pandas
!pip install sqlalchemy
!pip install pysqlite3
!pip install requests
!pip install bs4
!pip install lxml
!pip install unicode

In [1]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
import sqlite3
import requests
from bs4 import BeautifulSoup
import csv
from math import *

In [34]:
consulta = requests.get('https://news.ycombinator.com')
soup = BeautifulSoup(consulta.text,'html.parser')
buscar = soup.findAll('td',class_='subtext')
buscar

[<td class="subtext">
 <span class="score" id="score_32558012">39 points</span> by <a class="hnuser" href="user?id=Andrew_nenakhov">Andrew_nenakhov</a> <span class="age" title="2022-08-22T22:19:19"><a href="item?id=32558012">45 minutes ago</a></span> <span id="unv_32558012"></span> | <a href="hide?id=32558012&amp;goto=news">hide</a> | <a href="item?id=32558012">16 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32558191">28 points</span> by <a class="hnuser" href="user?id=whyleym">whyleym</a> <span class="age" title="2022-08-22T22:39:26"><a href="item?id=32558191">25 minutes ago</a></span> <span id="unv_32558191"></span> | <a href="hide?id=32558191&amp;goto=news">hide</a> | <a href="item?id=32558191">6 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32556523">105 points</span> by <a class="hnuser" href="user?id=bookofjoe">bookofjoe</a> <span class="age" title="2022-08-22T20:08:17"><a href="item?id=32556523">2 hours ago</a></span> <span id="unv_32556523"></span> | <a href="hide?id=32556523&amp;goto=news">hide</a> | <a href="item?id=32556523">55 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32553574">312 points</span> by <a class="hnuser" href="user?id=PaulHoule">PaulHoule</a> <span class="age" title="2022-08-22T16:18:24"><a href="item?id=32553574">6 hours ago</a></span> <span id="unv_32553574"></span> | <a href="hide?id=32553574&amp;goto=news">hide</a> | <a href="item?id=32553574">98 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32556048">94 points</span> by <a class="hnuser" href="user?id=xept">xept</a> <span class="age" title="2022-08-22T19:27:14"><a href="item?id=32556048">3 hours ago</a></span> <span id="unv_32556048"></span> | <a href="hide?id=32556048&amp;goto=news">hide</a> | <a href="item?id=32556048">16 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32551273">440 points</span> by <a class="hnuser" href="user?id=ellenhp">ellenhp</a> <span class="age" title="2022-08-22T13:45:53"><a href="item?id=32551273">9 hours ago</a></span> <span id="unv_32551273"></span> | <a href="hide?id=32551273&amp;goto=news">hide</a> | <a href="item?id=32551273">68 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32555028">486 points</span> by <a class="hnuser" href="user?id=flimsythoughts">flimsythoughts</a> <span class="age" title="2022-08-22T18:08:23"><a href="item?id=32555028">4 hours ago</a></span> <span id="unv_32555028"></span> | <a href="hide?id=32555028&amp;goto=news">hide</a> | <a href="item?id=32555028">281 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32555561">78 points</span> by <a class="hnuser" href="user?id=giuliomagnifico">giuliomagnifico</a> <span class="age" title="2022-08-22T18:51:03"><a href="item?id=32555561">4 hours ago</a></span> <span id="unv_32555561"></span> | <a href="hide?id=32555561&amp;goto=news">hide</a> | <a href="item?id=32555561">32 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32555441">165 points</span> by <a class="hnuser" href="user?id=xbmcuser">xbmcuser</a> <span class="age" title="2022-08-22T18:41:39"><a href="item?id=32555441">4 hours ago</a></span> <span id="unv_32555441"></span> | <a href="hide?id=32555441&amp;goto=news">hide</a> | <a href="item?id=32555441">115 comments</a> </td>,
 <td class="subtext">
 <span class="age" title="2022-08-22T21:00:53"><a href="item?id=32557196">2 hours ago</a></span> | <a href="hide?id=32557196&amp;goto=news">hide</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32551512">209 points</span> by <a class="hnuser" href="user?id=stefan_">stefan_</a> <span class="age" title="2022-08-22T14:04:15"><a href="item?id=32551512">9 hours ago</a></span> <span id="unv_32551512"></span> | <a href="hide?id=32551512&amp;goto=news">hide</a> | <a href="item?id=32551512">95 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32552316">130 points</span> by <a class="hnuser" href="user?id=agomez314">agomez314</a> <span class="age" title="2022-08-22T14:54:02"><a href="item?id=32552316">8 hours ago</a></span> <span id="unv_32552316"></span> | <a href="hide?id=32552316&amp;goto=news">hide</a> | <a href="item?id=32552316">89 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32555533">73 points</span> by <a class="hnuser" href="user?id=chrisfrantz">chrisfrantz</a> <span class="age" title="2022-08-22T18:49:17"><a href="item?id=32555533">4 hours ago</a></span> <span id="unv_32555533"></span> | <a href="hide?id=32555533&amp;goto=news">hide</a> | <a href="item?id=32555533">42 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32556816">25 points</span> by <a class="hnuser" href="user?id=charliermarsh">charliermarsh</a> <span class="age" title="2022-08-22T20:31:52"><a href="item?id=32556816">2 hours ago</a></span> <span id="unv_32556816"></span> | <a href="hide?id=32556816&amp;goto=news">hide</a> | <a href="item?id=32556816">2 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32550717">401 points</span> by <a class="hnuser" href="user?id=todsacerdoti">todsacerdoti</a> <span class="age" title="2022-08-22T13:00:32"><a href="item?id=32550717">10 hours ago</a></span> <span id="unv_32550717"></span> | <a href="hide?id=32550717&amp;goto=news">hide</a> | <a href="item?id=32550717">382 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32548085">82 points</span> by <a class="hnuser" href="user?id=rrampage">rrampage</a> <span class="age" title="2022-08-22T06:39:36"><a href="item?id=32548085">7 hours ago</a></span> <span id="unv_32548085"></span> | <a href="hide?id=32548085&amp;goto=news">hide</a> | <a href="item?id=32548085">116 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32549713">25 points</span> by <a class="hnuser" href="user?id=Kaibeezy">Kaibeezy</a> <span class="age" title="2022-08-22T10:51:01"><a href="item?id=32549713">3 hours ago</a></span> <span id="unv_32549713"></span> | <a href="hide?id=32549713&amp;goto=news">hide</a> | <a href="item?id=32549713">10 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32555895">129 points</span> by <a class="hnuser" href="user?id=meken">meken</a> <span class="age" title="2022-08-22T19:17:31"><a href="item?id=32555895">3 hours ago</a></span> <span id="unv_32555895"></span> | <a href="hide?id=32555895&amp;goto=news">hide</a> | <a href="item?id=32555895">67 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32553597">74 points</span> by <a class="hnuser" href="user?id=zdw">zdw</a> <span class="age" title="2022-08-22T16:19:59"><a href="item?id=32553597">6 hours ago</a></span> <span id="unv_32553597"></span> | <a href="hide?id=32553597&amp;goto=news">hide</a> | <a href="item?id=32553597">90 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32557672">22 points</span> by <a class="hnuser" href="user?id=youngtaff">youngtaff</a> <span class="age" title="2022-08-22T21:42:21"><a href="item?id=32557672">1 hour ago</a></span> <span id="unv_32557672"></span> | <a href="hide?id=32557672&amp;goto=news">hide</a> | <a href="item?id=32557672">12 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32549604">231 points</span> by <a class="hnuser" href="user?id=zimmerfrei">zimmerfrei</a> <span class="age" title="2022-08-22T10:35:38"><a href="item?id=32549604">12 hours ago</a></span> <span id="unv_32549604"></span> | <a href="hide?id=32549604&amp;goto=news">hide</a> | <a href="item?id=32549604">164 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32552782">74 points</span> by <a class="hnuser" href="user?id=quyleanh">quyleanh</a> <span class="age" title="2022-08-22T15:24:28"><a href="item?id=32552782">7 hours ago</a></span> <span id="unv_32552782"></span> | <a href="hide?id=32552782&amp;goto=news">hide</a> | <a href="item?id=32552782">62 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32556546">16 points</span> by <a class="hnuser" href="user?id=jes">jes</a> <span class="age" title="2022-08-22T20:09:46"><a href="item?id=32556546">2 hours ago</a></span> <span id="unv_32556546"></span> | <a href="hide?id=32556546&amp;goto=news">hide</a> | <a href="item?id=32556546">3 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32548905">275 points</span> by <a class="hnuser" href="user?id=sleepy_keita">sleepy_keita</a> <span class="age" title="2022-08-22T08:47:21"><a href="item?id=32548905">14 hours ago</a></span> <span id="unv_32548905"></span> | <a href="hide?id=32548905&amp;goto=news">hide</a> | <a href="item?id=32548905">82 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32547901">105 points</span> by <a class="hnuser" href="user?id=herbertl">herbertl</a> <span class="age" title="2022-08-22T06:06:28"><a href="item?id=32547901">11 hours ago</a></span> <span id="unv_32547901"></span> | <a href="hide?id=32547901&amp;goto=news">hide</a> | <a href="item?id=32547901">63 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32548671">293 points</span> by <a class="hnuser" href="user?id=detaro">detaro</a> <span class="age" title="2022-08-22T08:12:28"><a href="item?id=32548671">14 hours ago</a></span> <span id="unv_32548671"></span> | <a href="hide?id=32548671&amp;goto=news">hide</a> | <a href="item?id=32548671">141 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32547663">6 points</span> by <a class="hnuser" href="user?id=salgernon">salgernon</a> <span class="age" title="2022-08-22T05:23:57"><a href="item?id=32547663">1 hour ago</a></span> <span id="unv_32547663"></span> | <a href="hide?id=32547663&amp;goto=news">hide</a> | <a href="item?id=32547663">discuss</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32550670">129 points</span> by <a class="hnuser" href="user?id=Tomte">Tomte</a> <span class="age" title="2022-08-22T12:55:44"><a href="item?id=32550670">10 hours ago</a></span> <span id="unv_32550670"></span> | <a href="hide?id=32550670&amp;goto=news">hide</a> | <a href="item?id=32550670">41 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32550267">144 points</span> by <a class="hnuser" href="user?id=Levminer">Levminer</a> <span class="age" title="2022-08-22T12:14:32"><a href="item?id=32550267">10 hours ago</a></span> <span id="unv_32550267"></span> | <a href="hide?id=32550267&amp;goto=news">hide</a> | <a href="item?id=32550267">61 comments</a> </td>,
 <td class="subtext">
 <span class="score" id="score_32551862">102 points</span> by <a class="hnuser" href="user?id=throwaway874839">throwaway874839</a> <span class="age" title="2022-08-22T14:26:01"><a href="item?id=32551862">8 hours ago</a></span> <span id="unv_32551862"></span> | <a href="hide?id=32551862&amp;goto=news">hide</a> | <a href="item?id=32551862">47 comments</a> </td>]

In [35]:
lista = list()

for datos in buscar:
    data = {
        'score': int(datos.find('span', class_='score').text.split()[0]),
        'horas': int(datos.find('span', class_='age').a.text.split()[0]),
        'comentarios': getattr(datos.find_all('a')[3], 'text', None),
    }
    lista.append(data)

AttributeError: 'NoneType' object has no attribute 'text'

In [37]:
df = pd.DataFrame(lista)
df

   score  horas   comentarios
0     39     45   16 comments
1     28     25    6 comments
2    105      2   55 comments
3    312      6   98 comments
4     94      3   16 comments
5    440      9   68 comments
6    486      4  281 comments
7     78      4   32 comments
8    165      4  115 comments

# Ejercicio 2

In [5]:
df.dropna()

   score  horas   comentarios
0     89      2   41 comments
1    301      6   92 comments
2     82      3   12 comments
3    426      8   65 comments
4    456      4  272 comments
5     71      3   30 comments
6      9     17       discuss
7     11     54    5 comments

In [6]:
lista = ['Los 4 chiflados','Los superfantasticos','Mujer maravilla','Comunidad de los anillos','Magnificencia','','Mundo de fantasia','Hombre Araña','El perfume','Cambios inaceptables','Confusion']

df['Titulo'] = pd.Series(lista)
df

   score  horas   comentarios                    Titulo
0     89      2   41 comments           Los 4 chiflados
1    301      6   92 comments      Los superfantasticos
2     82      3   12 comments           Mujer maravilla
3    426      8   65 comments  Comunidad de los anillos
4    456      4  272 comments             Magnificencia
5     71      3   30 comments
6      9     17       discuss         Mundo de fantasia
7     11     54    5 comments              Hombre Araña

# Ejercicio 3

In [9]:
bdd = create_engine('sqlite:///:memory:')
df.to_sql('tabla',bdd,index=False)
leer_datos = pd.read_sql('tabla',con=bdd)
print(leer_datos)

   score  horas   comentarios                    Titulo
0     89      2   41 comments           Los 4 chiflados
1    301      6   92 comments      Los superfantasticos
2     82      3   12 comments           Mujer maravilla
3    426      8   65 comments  Comunidad de los anillos
4    456      4  272 comments             Magnificencia
5     71      3   30 comments
6      9     17       discuss         Mundo de fantasia
7     11     54    5 comments              Hombre Araña

In [14]:
bdd.execute("INSERT INTO tabla(score,horas,comentarios,Titulo) VALUES(?,?,?,?)",(220,5,"60 comments","Harry Potter"))
bdd.execute("INSERT INTO tabla(score,horas,comentarios,Titulo) VALUES(?,?,?,?)",(110,3,"49 comments","Cien Años de Soledad"))
leer_datos = pd.read_sql('tabla',con=bdd)
print(leer_datos)

    score  horas   comentarios                    Titulo
0      89      2   41 comments           Los 4 chiflados
1     301      6   92 comments      Los superfantasticos
2      82      3   12 comments           Mujer maravilla
3     426      8   65 comments  Comunidad de los anillos
4     456      4  272 comments             Magnificencia
5      71      3   30 comments
6       9     17       discuss         Mundo de fantasia
7      11     54    5 comments              Hombre Araña
8     220      5   60 comments              Harry Potter
9     110      3   49 comments      Cien Años de Soledad
10    220      5   60 comments              Harry Potter
11    110      3   49 comments      Cien Años de Soledad
12    220      5   60 comments              Harry Potter
13    110      3   49 comments      Cien Años de Soledad

In [ ]:
# 6.Eliminar un registro de la tabla
idProducto = int(input("Ingrese el ID a eliminar: "))
conexion = sqlite3.connect("tabla.db")
conexion.execute("DELETE FROM tabla WHERE id = ? ", (idProducto, ))
conexion.commit() #Insert, update, delete
conexion.close()

In [ ]:
# 4.Consultar los datos de la tabla

consulta = float(input("Ingrese el id: "))

consultar = conexion.execute("SELECT * FROM productos WHERE id = ?",(id,))

for registro in consulta:
    print(registro)